/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)

  CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

body, html, .row, .grid-container, {
  height: 100%;
}

.grid-container {
  width: 100%;
}

/*clearfix for row content to stay within row*/
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

.col-1 {
    width: 16.66%; 
}
.col-2 {
    width: 33.33%; 
}
.col-3 {
    width: 50%; 
}
.col-4 {
    width: 66.664%;
}
.col-5 {
    width: 83.33%;
}
.col-6 {
    width: 100%;
}

.grid-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gutter {
  padding: 18px;
}

/*
  ========================================
  Navigation sidebar
  ========================================
*/


.sidebar {
  background-color: #2F5D7C;
  height: 100vh;
}

.nav {
  margin: 30px 15px;
}

.nav li {
  margin: 18px 0px;
}

.sidebar h2 {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.25em;
  color: #FFF;
}

.nav a {
  color: #2F5D7C;
  text-decoration: none;
  border: 2px solid;
  border-color: #FFF;
  border-radius: 3px;
  background-color: #FFF;
  padding: 2px;
}

.nav a:hover {
  font-size: 1.15em;
  margin-left: 2px;
}

/*
  ========================================
  Main page Custom styles
  ========================================
*/

html {
  font-family: 'Lato', sans-serif;
}

.fancy {
  font-family: 'Lobster', cursive;
  color: #FF4646;
}

.main-content p {
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  font-size: 3.0em;
}

h3 {
  font-size: 2.75em;
}

h4 {
  font-size: 2.25em;
}

.proj-title a {
  text-decoration: none;
  padding: 5px;
  font-size: 0.65em;
  background-color: #FF4646;
  border: 3px solid;
  border-color: #FF4646;
  border-radius: 5px;
  color: #fff;
}

.proj-title a:hover {
  background-color: #fff;
  color: #FF4646;
}

strong {
  font-weight: bold;
}

.break {
  margin-bottom: 50px;
}

.main-content ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*
  ========================================
  Quiz custom styles
  ========================================
*/

.quiz-area h4 {
  font-weight: bold;
  font-size: 1.75em;
  margin-top: 20px;
}

.right {
  margin-top: 10px;
  margin-bottom: 10px;
}

.right span {
  padding: 10px; 
  border: 5px solid rgb(0, 204, 0);
}

.wrong {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrong span {
  padding: 10px;
  border: 5px solid rgb(255, 0, 0);
}

.buttons {
  margin-top: 30px;
}

.buttons a {
  text-decoration: none;
  background-color: #FF4646;
  color: #fff;
  padding: 5px;
  margin-right: 10px;
  border: 5px solid #FF4646;
  border-radius: 5px;
}

.buttons a:hover {
  background-color: #FFF;
  color: #FF4646;
}

/*
  ========================================
  Codemirror
  ========================================
*/

.codeMirrorSection {
  border: 5px solid #000;
  border-radius: 5px;
  margin: 30px 0px 30px 0px;
  max-width: 700px;
}

.codeMirrorSection div {
  height: auto;
}
