/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)

  CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

.grid-container {
  width: 100%;
}

/*clearfix for row content to stay within row*/
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

.col-1 {
    width: 16.66%;
}
.col-2 {
    width: 33.33%; 
}
.col-3 {
    width: 50%; 
}
.col-4 {
    width: 66.664%;
}
.col-5 {
    width: 83.33%;
}
.col-6 {
    width: 100%;
}

.grid-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gutter {
  padding: 18px;
}

.extendfull, .extendleft
{
  padding-left: 3000px;
  margin-left: -3000px;
}

.extendfull, .extendright
{
  padding-right: 3000px;
  margin-right: -3000px;
}

/*
  ========================================
  Navigation sidebar
  ========================================
*/


.sidebar {
  background-color: rgba(47, 93, 124, 0.65);
  border-right: 5px solid rgb(47, 93, 124);
}

.nav {
  margin: 30px 15px;
}

.nav li {
  margin: 23px 0px;
}

.sidebar h2 {
  text-align: center;
  padding: 20px;
  font-size: 1.35em;
  font-weight: bold;
  background-color: #fff;
  color: rgb(47, 93, 124);
}

.nav a {
  color: #2F5D7C;
  text-decoration: none;
  border: 2px solid;
  border-color: rgb(47, 93, 124);
  border-radius: 3px;
  background-color: #FFF;
  padding: 4px 5px;
}

.nav a:hover {
  font-size: 1.15em;
  margin-left: 2px;
}

.nav a.current {
  background-color: rgb(47, 93, 124);
  color: #fff;
}

/*
  ========================================
  Custom styles
  ========================================
*/

html {
  font-family: 'Lato', sans-serif;
}

.fancy {
  font-family: 'Lobster', cursive;
  color: #FF4646;
}

.main-content {
  overflow: scroll;
}

.main-content p, .quiz-area, .resource {
  margin-right: 55px;
  margin-left: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-content p {
  line-height: 175%;
  font-size: 1.05em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.75em;
}

h4 {
  font-size: 2.25em;
}

.proj-title {
  margin-left: 55px;
  margin-right: 55px;
  border-bottom:;
}


.proj-title a {
  text-decoration: none;
  padding: 5px 25px 5px 5px;
  font-size: 0.8em;
  border: 3px solid;
  border-radius: 3px;
  border-color: #FF4646;
  background-color: #FF4646;
  color: #fff;
}

.proj-title a:hover {
  background-color: #fff;
  color: #FF4646;
}

.list {
  margin-left: 90px;
  margin-right: 90px;
  list-style-type: square;
}

strong {
  font-weight: bold;
}

.break {
  margin-bottom: 50px;
}

.main-content ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.button a {
  text-decoration: none;
  background-color: #FF4646;
  color: #fff;
  padding: 5px;
  margin-right: 10px;
  border: 5px solid #FF4646;
  border-radius: 5px;
}

.button a:hover {
  background-color: #FFF;
  color: #FF4646;
}

.heading {
  font-weight: lighter;
  border-bottom: solid 2px #FF4646;
  margin-top: 35px;
  margin-right: 55px;
} 

.lineHack {
  line-height: 100px;
}

.resourceLink {
  text-decoration: none;
  background-color: rgb(47, 93, 124);
  border: 3px solid rgb(47, 93, 124);
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
  vertical-align: middle;
  margin-left: 55px;
}

.resourceLink:hover {
  background-color: #fff;
  color: rgb(47, 93, 124);
}

.resourceImg {
  width: 80%;
  height: auto;
}

/*
  ========================================
  Quiz custom styles
  ========================================
*/

.imageWrap {
  margin-top: 10px;
}

.imageWrap a img {
  border: 2px solid #000;
  display: block;
  width: 50%;
  margin: auto;
}

.imageWrap a img:hover {
  border: 2px solid #FF4646;
}

.caption {
  font-weight: bold;
  font-size: 1.15em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.quiz-area h4 {
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 20px;
}

.right {
  margin-top: 10px;
  margin-bottom: 10px;
}

.right span {
  padding: 10px; 
  border: 5px solid rgb(0, 204, 0);
}

.wrong {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrong span {
  padding: 10px;
  border: 5px solid rgb(255, 0, 0);
}

#quizButtons {
  margin-top: 30px;
}

/*
  ========================================
  Codemirror
  ========================================
*/

.codeMirrorSection {
  border: 5px solid #000;
  border-radius: 5px;
  margin: 30px 0px 30px 0px;
  max-width: 700px;
}

.codeMirrorSection div {
  height: auto;
}

/*
  ========================================
  Scrolling functionality
  ========================================
*/

body, html {
    height: 100%;
    overflow: hidden;
}

.max-height {
    height: 100%;
}

.no-overflow {
    overflow: hidden;
}

.scrollable {
  overflow-y: auto;
}
