<!DOCTYPE html>
<html ng-app="quizApp">
	<head>
		<title>Design a Blog Project</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic|Lobster' rel='stylesheet' type='text/css'>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
		<link rel="stylesheet" type="text/css" href="bower_components/codemirror/theme/blackboard.css">
		<script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
		<script type="text/javascript" src="bower_components/codemirror/mode/xml/xml.js"></script>
        <script type="text/javascript" src="lib/app.js"></script>
	</head>	
	<body>

		<div class="grid-container max-height">
			<div class="row max-height">

				<aside class="col-1 sidebar max-height no-overflow">
					<h2>What the Heck is Web Development?</h2>
					<ul class="nav">
						<li><a href="index.html">Home</a></li>
						<li><a href="starting.html">Getting Started</a></li>
						<li><a href="design.html">Design Fundamentals</a></li>
						<li><a href="programming.html">Programming</a></li>
						<li><a href="mean.html">MEAN Stack</a></li>
					</ul>
				</aside>

				<section class="col-5 main-content gutter max-height scrollable">

					<h2 class="fancy">Create a Blog</h2>
					<p>As part of the design project, you will create your own fully functional blog. Blogs have developed as one of the cornerstones of content on the internet. For the purposes of our learning process, we will focus on the essence of what a blog provides. <a href="https://medium.com/top-stories">Medium.com</a> provides a great example of a blogging platform that focuses on simplicity and content.</p>

					<div class="imageLinkWrap">
							<a href="https://medium.com/backchannel/the-crazy-tiny-next-generation-of-computers-17e89e472839">
								<img src="img/medium.png">
							</a>
					</div>
					<h5 class="caption">Medium provides a nice, simple blog design.</h5>

					<p>Instead of us providing you the source code, you will be prompted by a series of questions that will help guide you along. If you've gone through both of the tutorials we suggested, you shouldn't have difficulty in answering these questions. Use the questions to reflect on what you've learned, and try to figure out whether you've <strong>truly</strong> understood the material.</p>

					<div class="quiz-area" ng-controller="QuizController">
						<div ng-repeat="question in questions">
							<div class="startPrompt">{{question.startPrompt}}</div>
							<h4 id="question">{{question.question}}</h4>
							<ul id="options">
								<li ng-repeat="option in question.options">
									<label>
										<input class="code" type="radio" name="answer" value="{{option}}">{{option}}
									</label>
								</li>
							</ul>
							<p class="feedback right" ng-if="question.correct">{{question.rightDescription}}</p>
							<p class="feedback wrong" ng-if="question.tries == 1">{{question.wrongDescription}} Please try again.</p>
							<p class="feedback wrong" ng-if="question.tries == 2">{{question.wrongDescription}}</p>
							<div class="button" id="quizButtons">
								<a href="" ng-click="checkAnswer(question)" ng-hide="question.correct">Check Answer</a>
								<a href="" ng-click="showCode(question)" ng-hide="quesiton.tries < 2 || !question.correct || question.showCode">Show code</a>
								<a href="" ng-click="hideCode(question)" ng-show="question.showCode">Hide code</a>
							</div>
							<section class="codeMirrorSection" ng-show="question.showCode">
								<div ui-codemirror="editorOptions" ng-model="question.answerCode" ui-refresh="question.showCode"></div>
							</section>
							<div class="endPrompt">{{question.endPrompt}}</div>
						</div>
					</div>

				</section>

			</div>
		</div>

	</body>
</html>